

<form  method="post">
    <label>Car Name</label>
    <input type="text" name="CarName" />
    <br />
    <label>Miles per Gallon</label>
    <input type="number" name="mpg"/>
    <br />
    <label>Gas Tank Capacity</label>
    <input type="number" name="TankSize"/>
    <input type="submit"/>
</form>